{% extends 'core/base.html' %}
{% block title %}Edytuj artykuł{% endblock %}
{% block body %}

<div class="flex justify-center px-4 py-12">
  <div class="w-full max-w-2xl bg-forest-900 border border-forest-700/40 rounded-2xl p-8 shadow-[0_0_30px_rgba(181,255,77,0.07)]">
    <h1 class="font-display text-4xl tracking-wide text-forest-50 mb-8">Kim jesteśmy?</h1>
    <div class="flex flex-col gap-6">
        <p class="text-forest-200">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </p>
        <p class="text-forest-200">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </p>
    </div>
  </div>
</div>

{% endblock %}